<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>카카오 계정 연결</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    인가코드를 모델로 받아와서
    ajax로 여기서 Authorization 토큰을 따고
    그 값으로 카카오 계정정보 얻기를 카카오 API에 요청하고
    계정정보에서 얻은 서비스 회원 ID를 가지고 DB에 넣는 API에 다시 요청하기
    결과값 반환 후 창 닫기

    ajax끼리 리다이렉트가 되면 rest로 토큰받는 api 개발하고
    안되면 토큰받는 페이지를 개발하기

</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(() => {
        let formData = {
            grant_type : "authorization_code",
            redirect_uri : [[${redirectURI}]],
            client_id : [[${kakaoRestApiKey}]],
            code : [[${code}]],
            client_secret: [[${kakaoClientSecret}]]
        }

        console.log(formData);

        //kakaoForm.submit();
        $.ajax({
            type: "POST",
            url: "https://kauth.kakao.com/oauth/token",
            data: formData,
            error: (error)=> {
                console.log(error);
            }
        })
        .done((tokenData)=>{
            console.log(tokenData);
            // 계정 정보 얻는 카카오 API 요청하여 서비스 회원 ID 얻기

            // CORS 발생! 무조건 백엔드에서 요청해야한다고 함

            // $.ajax({
            //     type: "GET",
            //     url: "https://kapi.kakao.com/v2/user/me",
            //     header: {
            //         'Authorization' : "Bearer " + tokenData.access_token
            //     },
            //     error: (error)=> {
            //         console.log(error);
            //     }
            // }).done((accountData)=>{
            //     console.log(accountData);
            // })
        })

    });
    /*]]*/
</script>

</html>